In [ ]:
Nombre = "Jose" # Tipo de dato String (Cadena de caracteres)
print ( Nombre )

# Tipo de datos en Python

### Tipos de datos simples
- str --> String cadena de caracteres.
- int --> Numeros enteros.
- float --> Numeros con notacion de punto flotante.
- complex --> Numeros complejos.
- bool --> Boleano (True o False) 
- byte --> 8 bits.

### Tipos de datos estructurados (compuestos)
- list --> Listas (arreglos en otros leng)
- tuple --> Listas no mutables
- dict --> Diccionarios
- set y fronzenset --> Conjuntos

In [ ]:
import sys
edad = 19
print( "Tu edad es:",edad) # al final del codigo de una linea 
"""
Comentarios de multilpes lineas.
"""
# Tipos de datos numericos
sys.getsizeof(edad) # los datos int ocupan difente espacio dependiendo de la plataforma
edad = edad + 1
print(edad)
estatura = 1.56 
print(estatura)
print( sys.getsizeof (estatura))
estatura = estatura + 0.1
print(estatura)
print(round(estatura,2))

edad += 1 # edad= edad +1 
print( "Tu edad es:",edad)
edad -= 1 # edad= edad -1 
print( "Tu edad es:",edad)
edad /= 2  # edad= edad /2
print( "La mitad de tu edad es:",edad)
edad += 1
edad /= 2
print( "La mitad de tu edad es:",edad)
edad = 21
# calcular la mitad de la edad sin decimal.
edad = edad // 2
print( "La mitad de tu edad es:",edad)

# en la mayoria de los porgramas, no permite opercaiones entre diferentes tipos de datos.
numero = edad / 2.0
print( numero )

numero *= 3
print( numero )

numero = 5.0
numero = numero ** 2
print( numero )

# operador modulo
numero = 21
print( numero / 2)

Tu edad es: 19
20
1.56
24
1.6600000000000001
1.66
Tu edad es: 21
Tu edad es: 20
La mitad de tu edad es: 10.0
La mitad de tu edad es: 5.5
La mitad de tu edad es: 10
5.0
15.0
25.0
10.5

Resumen de minimo de una cuartilla de los origenes de lenguaje python donde vega el porque de su creacion, sus caracteristicas principales y sus diferencias con otros lenguajes.
A mano en cuaderno.
Sacarle foto y subir la foto.

In [ ]:
# operador modulo: da como resultado el residuo de una division entera.
numero = 21
print( numero / 2)
print( numero // 2)
print( numero % 2)


numero = 24
print("Residuo de 24 / 5 es:" , numero % 5)


#Operadores logicos o relacionales.
print( numero % 2 == 0)

#Diferencia.
print( "24 es diferente de 23=" , numero != 23)
print( "24 es mayorque 23=" , numero > 23)
print( "24 es mayor que 23=" , numero < 23)

print( "24 es mayor o igual que 24=" , numero >= 24)
print( "24 es mayor o igual que 23=" , numero >= 23)
print("El tipo de dato de la variable numero es:" , type(numero))
print("El tipo de dato de la variable numero es:" , type(numero/2.0))

10.5
10
1
Residuo de 24 / 5 es: 4
True
24 es diferente de 23= True
24 es mayorque 23= True
24 es mayor que 23= False
24 es mayor o igual que 24= True
24 es mayor o igual que 23= True
El tipo de dato de la variable numero es: <class 'int'>
El tipo de dato de la variable numero es: <class 'float'>

# tipo de dato string en Python
 Se maneja como un tipo de dato complejo.
 Se puede acceder a los elementos del string por medio del indice del caracter.
 Es mutable.
 Tiene metodos utiles (potentes)
 Slicing

In [ ]:
nombre = "jose"
Carrera = "Ingenieria en computacion"
frase= """El conocimiento
me persigue,..... 
pero
yo soy mas rapido"""
print(nombre)
print(Carrera)
print(frase)

# La funcion type de python te devuelve el tipo de dato de una variable.
print(type(nombre))

paterno = str ("perez")
print(paterno)

jose
Ingenieria en computacion
El conocimiento
me persigue,.....
pero
yo soy mas rapido
<class 'str'>
perez

Una clase (class) es un tipo de dato compuesto.

In [ ]:
Carrera = "Ingenieria en computacion"
print(Carrera)
print(Carrera[2])
#En python se inician los arreglos desde 0
#En python no existen los arrglos, son las sustituidos por las listas.
#Los strings como un arreglo en la mayoria de los lenguajes.
#En python se acepta en indexado negativo, otros lenguajes No.

Ingenieria en computacion
g

In [ ]:
Carrera = "Ingenieria en computacion"
print(Carrera [8])
print(Carrera [24])
print(Carrera [-1])
print(Carrera [-25])
#Adelantando el tema del ciclo ford
for letra in Carrera:
  print("-->",letra,"<--" )

i
n
n
I
--> I <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> i <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> o <--
--> n <--

In [ ]:
Carrera = "Ingenieria en computacion"
print(Carrera [0:10:1])
print(Carrera [14:25:1])
#Lo mismo con indexado negativo
print(Carrera [-11:-1:1])
print(Carrera [:10:])
print(Carrera [-11::1])

#arreglo
print("--------")
print(Carrera [-11:-1:1])
print(Carrera [-11::1])

#Un ejercicio mas para ver incremento
print(Carrera [0:10:2])
print(Carrera [-1:-12:-2])
print(Carrera [25:13:-1])

Ingenieria
computacion
computacio
Ingenieria
computacion
--------
computacio
computacion
Ignei
niaumc
noicatupmoc

#Slicing (rebanado) de cadenas.
Permite seleccionar subcadenas con el operador.
### [inicio : stop : incremento
El stop no se incluye, es por eso que debemos agragar una posicion extra]
Valores por defecto, el inicio por defecto siempre sera 0
stop:tama√±o del arreglo en un indexado positivo y sera 0 en un indexado negativo
Incremento por defecto es 1 en indexado positivo.

#STRING Y SUS METODOS

##dir() y help () son funciones para obtener ayuda del lenguaje python.
## dir() muestra las funciones de un tipo de dato, como resumen.
## help () muestra la misma ayuda pero con detalles.
## todos los tipos de datos en python son objetos  (clase POO)
## Por lo cual tienen atributos y metodos.
##Los metodos que inician con __ son privados de uso interno de la clase y no deberiamos usarlos.
##Todos los demas son para uso exterior.

In [ ]:
frutas = "limon , fresa, manzana  , aguacate   "
print(frutas)
dir(frutas)
nombre = "jose"
print(nombre.capitalize() )
print(nombre.upper() )
print(frutas.replace('a' , '4' ).replace('e' , '3' ).upper() )
frutas = frutas.replace('a' , '4' ).replace('e' , '3' ).upper()
print("-----------------")
frutas = "limon , fresa, manzana  , aguacate   "
print(frutas.strip())
print(frutas.split(","))

limon , fresa, manzana  , aguacate
Jose
JOSE
LIMON , FR3S4, M4NZ4N4  , 4GU4C4T3
-----------------
limon , fresa, manzana  , aguacate
['limon ', ' fresa', ' manzana  ', ' aguacate   ']

## String y caracteres de escape
\\" --> "
\\' -->'
\n salto de linea
\t tabulador  espacios a la izq
\uxxxx  caracteres unicode 16 bits
\uxxxxxxxx unicode extendido 32 bits
\\\ --> \\

In [14]:
nombre = " \"jose\" "
print(nombre)
carrera = "ingenieria \n\ten \n\t\tcomputacion"
print(carrera)
print("\u0444")
print("\u0620")
print("\U00010057")
print("\U0001F9B2")
print("\U0001F601")
print("\U0001F9A0")
print("\U0001F602")
print("\U00010057")

 "jose"
ingenieria
	en
		computacion
—Ñ
ÿ†
êÅó
ü¶≤
üòÅ
ü¶†
üòÇ
êÅó

# Funcion print
### se emplea para dezplegar informacion en la salida estandar.Normalmente un monitor.
-Formas de usar print.
-El argumento por defecto de la funcion print (end)
-El format ()
-El operador F""

In [37]:
nombre = "jose"
edad = 18
casado = False
estatura = 1.67
"""
Nombre : jose
   Edad: 18
   Estado: casado : False
   Estatura metros : 1.67
"""
#con comas convierte a string automatico 
print(nombre,edad,casado,estatura)
#Con el simbolo de suma concatenacion en crudo.
print(nombre +" " +str(edad) +" " +str(casado) +" " + str(estatura))
#Dando formato a la salida con format
print("Nombre: {}\n\tEdad: {}\n\tEstado casado: {}\n\testatura en metros:{}".format(nombre,edad,casado, estatura))
#Con el opedador f""
print("con el operador f\" \"")
print(f"Nombre: { nombre }\n\tEdad: { edad }\n\tEstado casado: { casado }\n\testatura en metros:{ estatura }")
#como manejar el argumento end
print("como usar el argumento end")
print(f" Hola {nombre} " , end="")
print(", como estas?" , end="\n")

jose 18 False 1.67
jose 18 False 1.67
Nombre: jose
	Edad: 18
	Estado casado: False
	estatura en metros:1.67
con el operador f" "
Nombre: jose
	Edad: 18
	Estado casado: False
	estatura en metros:1.67
como usar el argumento end
 Hola jose , como estas?

# Con una sola funcion print, escribir el primer nombre de la siguiente forma.
K   k      A 
k k       A  A
 K       A A A A
k k     A      A
k  k   A        A

In [39]:
print("Luis")

Luis